@charset 'utf-8';
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_mediaQuery';



// ID LEVEL ------------------------------------------------------------------------------------


// ELEMENT LEVEL ----------------------------------------------------------------------------------
code {
  color: $colorGray;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-bottom: 1em;
}

section {
  text-align: center;
  border-top: 1px solid $colorLightGray;
  width: 100%;
  padding: 3rem 0;
  &:last-child {
    border-bottom: 1px solid $colorLightGray;
  }
}



// CLASS LEVEL ------------------------------------------------------------------------------------
.mainWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  @include tablet {
    // flex-direction: initial;
  }
  @include desktop {
    // flex-direction: initial;
  }
}
